.heading {
    width: 96vw;
    height: 7vw;
    display: block;;

}
#icons{
    margin: 2%;
    width: 70%;
    float: right;
    text-align: right;
}
.icons{
    color: black;
    margin-RIGHT:1% ;
}
ul{
    margin-top: 2%;
    width: 10%;
    float: right;

}
ul li{
    display: inline-block;
    margin-right: 5%;
}
li > a{
    color: black ;
}
.image {
    margin: 10px;
    width: 5vw;
    vertical-align: middle;
}

.brief {
    vertical-align: middle;
    display: inline;
    font-size: 50px;
    font-family: 'Cairo';
    font-weight: bold;
}
.brief > span{
    color: darkcyan;
}

.main {
    width: 96vw;
    height: 35vw;
    vertical-align: middle;
}

.main-box {
    width: 47%;
    float: left;
    text-align: center;
    padding-top: 5%;
    position: relative;
}
.text{
    width: 90%;
    position: absolute;
    text-align: center;
    font-size: 37px;
    font-family: 'Alex Brush';    
    font-weight: BOLD;
    padding-top: 5%;
}
.main-title {
    border: none;
    font-size: 200px;
    font-family: 'Big Shoulders Stencil Display';
    color: darkcyan;

}

.description {
    font-size: xx-large;
    text-align: center;
}
.bg-block {
    width: 47%;
    height: 95%;
    float: right;
    text-align: center;
}

.background {
    width: 70%;
    height: 95%;
    margin-top: 3%;
}
.projects{
    width: 96vw;
    height: 20vw;
    margin-bottom: 5%;
    text-align: center;
}
.works {
    font-size: 40px;
    font-family: 'Asset';
    text-align:center;
    vertical-align: middle;
    margin-top: 3%;
    margin-left: 2%;
    margin-bottom: 1%;
}
.work1{
    width: 45%;
    height: 85%;
    padding-top: 2%;
    padding-left: 2%;
    padding-bottom: 2%;
    font-size: 30px;
    float: right;
    box-shadow: 10px 5px 18px #888888;
}
.work1 > a{
    color:#aee051;
    text-decoration: none;
}
.work1 > span{
    font-size: 25px;
}
.work2{
    height: 85%;
    width: 45%;
    padding-top: 2%;
    margin-LEFT: 2%;
    padding: 2%;   
    font-size: 25px;
    text-align: center;
    float: left;
    box-shadow: 10px 5px 18px #888888;
}        
.work2 > span{
    font-size: 30px;
}
.work2 > a{
    text-decoration: none;
    color:maroon ;
}
footer {
    text-align: center;
    width: 96vw;
    height: 3vw;
}
.end{
    margin-top: 2%;
}
.end > a{
    text-decoration: none;
    color: black;
}