.container{
    margin: 10px;
}
.heading {
    display: block;;
    position: relative;
    overflow-y: auto;
}
#icons{
    padding: 2vw;
    width: 40vw;
    float: right;
    text-align: right;
}
.icons{
    color: black;
    margin-RIGHT:1%;
    font-size: 3vw;
    position: relative;
}
.image {
    padding: 8px;
    width: 5.7vw;
    vertical-align: middle;
}
.main {
    overflow: hidden;
    vertical-align: middle;
}

.main-box {
    width: 47%;
    float: left;
    text-align: center;
    padding-top: 5%;
    position: relative;
}
.text{
    width: 90%;
    position: absolute;
    text-align: center;
    font-size: 2.6vw;
    font-family: 'Alex Brush';    
    font-weight: BOLD;
    padding-top: 5%;
}
.main-title {
    border: none;
    font-size: 200px;
    font-family: 'Big Shoulders Stencil Display';
    color: darkcyan;
}

.description {
    font-size: 30px;
    text-align: center;
}

.description > .title {
    color: darkcyan
}

.bg-block {
    width: 47%;
    height: 95%;
    float: right;
    text-align: center;
}

.background {
    width: 31vw;
    height: 31vw;
    margin-top: 2vw;
}
.projects{
    width: 96vw;
    overflow: hidden;
    margin-bottom: 2vw;
    text-align: center;
}
.pointer{
    font-size: 3vw;
    margin-top: -1.56vw;
    margin-right: 11vw;
    margin-left: 11vw;
    color:darkcyan;
}
a{
    text-decoration: none;
    color: maroon;
}
.project-title {
    font-size: 83px;
    font-family: 'Almendra SC';
    text-align:center;
    vertical-align: middle;
    margin-top: 1vw;
    overflow-y: auto;
    color:darkcyan;
}
.work{
    width: 45vw;
    border-radius: 5vw;
    float: right;
    overflow: hidden;
    border: 2px solid darkcyan;
    margin-left: 5px;
    padding-top: 3vw;
    padding-left: 2vw;
    padding-bottom: 15px;
}
.work-head{
    font-size: 35px;
    /*box-shadow: 20px 15px 18px #888888;*/
}
.work-content{
    font-size: 25px;
    text-align: justify;
    padding-top: 20px;
    padding-left: 2px;
    padding-right: 20px;
}
.work-footer{
    padding-top: 30px;
}
.vartalap-color{
    color:#aee051;
}
.work-margin{    
    margin-left: 10px;

}
.vartalap-links, .links{
    font-size: 40px;
}
.github{
    font-size: 40px;
    color: black;
}
footer {
    text-align: center;
    width: 96vw;
    overflow: hidden;
}
.end{
    padding-top: 2vw;
    padding-bottom: 20px;
}
.end > a{
    text-decoration: none;
    color: black;
}

@media screen and (max-width:1024px) {
    .image {
        padding: 10px;
        width: 12vw;
    }
    #icons{
        padding: 3vw;
        width: 40vw;
        float: right;
    }
    .icons{
        top: 4vw;
        right: 0;
        font-size: 8vw;
    }
    .text{
        top: 2vw;
    }
    .main{
        vertical-align: middle;
        overflow: hidden;
    }
    .bg-block {
        display: none;
        visibility: hidden;
    }
    .main-box {
        width: 95vw;   
    }

    .text{
        width: 85vw;
        font-size: 6vw;
    }
    .main-title {
        font-size: 160px;
    }
    .description {
        margin-left: 2vw;
        font-size: 30px;
    }
    .projects{
        overflow: hidden;
        margin-top: 10vw;
        margin-left: 1vw;
    }
    .project-title{
        font-size: 15vw;
    }
    .pointer{
        visibility: hidden;
    }
    .work{
        width: 90%;
        height: auto;
        margin-top: 10px;
        margin-left: 6px;
        float: none;
    }
    .work-head{
        font-size: 35px;
        /*box-shadow: 20px 15px 18px #888888;*/
    }
    .work-content{
        font-size:25px;
    }
    .work-footer{
        padding-top: 15px;
    }
    .github, .vartalap-links, .links{
        font-size: 8vw;
    }
    .end{
        padding-bottom: 50px;
    }
}